<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forget-password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <section class="page">
    <section class="heading-section">
      <ion-thumbnail slot="start">
        <img src="../../assets/images/reset-password.png" alt="">
      </ion-thumbnail>
      <h3>Reset your password?</h3>
    </section>
    <section class="content-section">
      <ion-row>
        <ion-col  class="ion-text-center info">
          <p>We just need your registered Email Id
            to send you password reset instructions</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <form class="form forget-password-form">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input type="password" name="password" placeholder="New password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input type="password" name="password" placeholder="Confirm password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <div class="btn-row ">
              <ion-button type="submit" class="btn-done  btn-primary btn-block">Done</ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
      
    </section>
  </section>
</ion-content>
